<div class="row row-cols-1 row-cols-md-3 g-4">
    <div (click)="verArtista(item)" *ngFor="let item of items" class="col puntero">
      <div class="card h-100">
        <img [src]="item.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">
            <span *ngFor="let artista of item.artists" class="badge rounded-pill text-bg-dark"> {{artista.name}}</span>
          </p>
        </div>
      </div>
    </div>